.economey-impact
{
    width: 100%;
}

.economey-impact .header
{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.economey-impact .header #eco-video
{
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    opacity: 0.5;
}

.economey-impact .header h1
{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #008080;
    font-size: 8rem;
    font-weight: 900;
    transform: translate(-50%, -50%);
    font-family:'Courier New', Courier, monospace;
   /* -- 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 1.2;
    -- */
}

.economey-impact .short-content
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #000080, #008080 );
}

.economey-impact .short-content h2
{
    text-align: center;
    padding: 50px;
    font-size: xx-large;
    color: #F5F5F5;
}

.economey-impact .short-content:hover h2
{
    color: #00FFFF;
    background-color: #000080;
}

.fin-tech
{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.fin-tech-content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}


.fin-tech-content .card
{
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.fin-tech-content .card:hover
{
    height: 400px;
}

.fin-tech-content .card .img-box
{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5;
}

.fin-tech-content .card:hover .img-box
{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.fin-tech-content .card:hover .img-box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fin-tech-content .card .content
{
    position: absolute;
    top: 252px;
    width: 100%;
    height: 25px;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.fin-tech-content .card .content h2
{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.fin-tech-content .card .content p
{
    color: #333;
}