.economey-impact
{
    width: 100%;
}

.economey-impact .header
{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.economey-impact .header #eco-video, .fin-tech #eco-video
{
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    opacity: 0.5;
}

.economey-impact .header h1
{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000080;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    transform: translate(-50%, -50%);
   /* -- 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 1.2;
    -- */
}

.economey-impact .short-content, .short-content
{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* -- background: linear-gradient(45deg, #000080, #008080 ); -- */
}

.economey-impact .short-content h2, .short-content h2
{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: xx-large;
    color: #000080;
}

/* -- 
.economey-impact .short-content:hover h2
{
    color: #00FFFF;
    background-color: #000080;
}
    -- */

.fin-tech
{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* --
    background-image: url('/static/images/light-green-bg.png');
    */
}

.fin-tech .fin-tech-content
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}


.fin-tech .fin-tech-content .card
{
    position: relative;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f5f5f5af;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.fin-tech .fin-tech-content .card:hover
{
    height: 400px;
    background-color: #F5F5F5;
    box-shadow: #dcda899c 0px 10px 50px;
}

.fin-tech .fin-tech-content .card .content
{
    position: absolute;
    top: 170px;
    width: 100%;
    height: 30px;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.fin-tech .fin-tech-content .card:hover .content
{
    top: 130px;
    height: 250px;
}

.fin-tech .fin-tech-content .card:hover .content h2
{
    color: #000080;
}

.fin-tech-content .card .content h2
{
    font-size: 1.5em;
    font-weight: 700;
    color: #008080;
}

.fin-tech-content .card .content p
{
    padding: 20px;
    color: #333;
}