/* --- colors ---*/
/* ---

المستقبل المشرق

Nvey Blue : #000080
Green Emerald : #50C878
Cyan : #00FFFF
Teal : #008080

الحيوية الرقمية
• األبيض / الرمادي الفاتح :كلون أساسي مهيمن) تصميم.(Minimalist
• األسود أو الرمادي الداكن :للنصوص والعناوين الرئيسية.
• األخضر النيون (Green Neon (أو األزرق الكهربائي :(Blue Electric (كلون "Accent "قوي لجذب
االنتباه لألزرار والرسوم البيانية، يوحي بالطاقة الرقمية

--- */

*
{
    padding: 0;
    margin: 0; 
}

body
{
    background-color: #F5F5F5;
}

header
{
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 120px;
    border: #00FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;

    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px; */
}

header .logo 
{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 128, 0.2) 0px 7px 29px 0px;
}

header .logo a
{
    border-radius: 50%;
}

header .logo a img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


header nav 
{
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    border: #50C878 1px solid;
    background-color: #50C878;
    box-shadow: rgba(0, 0, 128, 0.35) 0px 5px 15px;
}



header nav ul
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    background-color: #50C878;
}

header nav ul li
{
    background-color: #50C878;
    margin-left: 10px;
}

header nav ul li a
{

    color: #000080;
    font-size: 1rem;
    text-decoration: none;
    background-color: #50C878;
    padding: 10px;
    border-radius: 10px;
}

header nav ul li a:hover
{
    color: #00FFFF;
    background-color: #000080;
}

.menu-toggle
{
    display: none;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #5dade2;
}

main
{
    width: 100%;
}
/* --- Design Home Page --- */
.home-section-one
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: url('/static/images/bg-home-page-1.png.png');
    }

.home-section-one h1
{
    color: #000080;
    margin-top: 40px;
}
.home-section-one .intro-title
{
    
    width: 700px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 128, 0.1) 0px 10px 50px;
}

.home-section-one h1
{
    font-family:'Courier New', Courier, monospace;
}

.home-section-one .intro-title 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.home-section-one .intro-title h2
{
    font-weight: bolder;
    text-align: center;
}

.home-section-one .intro-title p
{
    padding: 30px;
    text-align: center;
}

.home-section-one .btn
{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 30px;
    background-color: #000080;
}

.home-section-one .btn:hover
{
    color: #000080;
    background-color: #50C878;
}

.home-section-two
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.home-section-two h1
{
    color: #50C878;
    font-family:'Courier New', Courier, monospace;
}

.home-section-two .section-two-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.home-section-two .section-two-content .card
{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(80, 200, 120, 0.1) 0px 10px 50px;
}

.home-section-two .section-two-content .card h2
{
    color: #000080;
}

.home-section-two .btn
{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000080;
    text-decoration: none;
    border-radius: 30px;
    background-color: #50C878;
}

.home-section-two .btn:hover
{
    color: #F5F5F5;
    background-color: #000080;
}

.home-section-three
{
    gap: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*
    background-image: url('/static/images/bg-content-ligth.png');
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.home-section-three h1
{
    color: #000080;
    font-family:'Courier New', Courier, monospace;
}

.home-section-three .section-three-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home-section-three .section-three-content .card
{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(212, 110, 255, 0.1) 0px 10px 50px;
}

.home-section-three .section-three-content .card h2
{
    color: rgb(212, 110, 255);
}

/* -- Design Tech In Saudi Page -- */

.tech-page
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tech-page .tech-page-header
{
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 80px;
    align-items:center;
    justify-content: right;
    background-repeat: no-repeat;
    background-image: url('/static/images/bg-content.png');
}

.tech-page .tech-page-header p
{
    width: 590px;
    height: 250px;
    padding: 30px;
    color: #000080;
    font-size: xx-large;
    margin-top: 15px;
    margin-right: 100px;
}

.tech-page .tech-page-content
{
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-image: url('/static/images/bg-blue-green-content.png');
}

/* -- Making Responsive navbar -- */
/* -- @media 768 phone screen size -- */
@media (max-width: 768px)
{
    header .logo 
    {
        display: none;
    }
    header .navbar
    {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    .nav-links
    {
        border-radius: 10px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        background-color: #50C878;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
        padding: 10px 0;
        
    }
    .nav-links li 
    {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-links a
    {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nav-links a:hover
    {
        color: #00FFFF;
        background-color: #000080;
    }

    .menu-toggle
    {
        display: block;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1;
        color: #000080;
    }

    .nav-links li
    {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active
    {
        display: flex;
    }

}