/* --- colors ---*/
/* ---

المستقبل المشرق

Nvey Blue : #000080
Green Emerald : #50C878
Cyan : #00FFFF
Teal : #008080

الحيوية الرقمية
• األبيض / الرمادي الفاتح :كلون أساسي مهيمن) تصميم.(Minimalist
• األسود أو الرمادي الداكن :للنصوص والعناوين الرئيسية.
• األخضر النيون (Green Neon (أو األزرق الكهربائي :(Blue Electric (كلون "Accent "قوي لجذب
االنتباه لألزرار والرسوم البيانية، يوحي بالطاقة الرقمية

--- */

*
{
    padding: 0;
    margin: 0; 
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* -- Font Family Style 
.beiruti-<uniquifier> {
  font-family: "Beiruti", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-kufi-arabic-<uniquifier> {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

--*/
body
{
    background-color: #F5F5F5;
}

header
{
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 120px;
    border: #00FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;

    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px; */
}

header .logo 
{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 128, 0.2) 0px 7px 29px 0px;
}

header .logo a
{
    border-radius: 50%;
}

header .logo a img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


header nav 
{
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    border: #50C878 1px solid;
    background-color: #50C878;
    box-shadow: rgba(0, 0, 128, 0.35) 0px 5px 15px;
}



header nav ul
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    background-color: #50C878;
}

header nav ul li
{
    background-color: #50C878;
    margin-left: 10px;
}

header nav ul li a
{

    color: #000080;
    font-size: 1rem;
    text-decoration: none;
    background-color: #50C878;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

header nav ul li a:hover
{
    color: #00FFFF;
    background-color: #000080;
}

.menu-toggle
{
    display: none;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #5dade2;
}

main
{
    width: 100%;
}
/* --- Design Home Page --- */
.home-header
{
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/riyadh-bg.png');
}

.home-header h1
{
    margin-left: 180px;
    font-weight: 900;
    font-size: 7rem;
    color: #000080;
    animation-name: text-color;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
}

@keyframes text-color {
    0% { color: #000080;}
    40% {color: #50C878;}
    80% { color: #008080;}
    100% { color: #000080;}
}

.home-section-one
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-section-one .intro-title
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.home-section-one .intro-title p
{
    padding: 150px;
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
    padding-bottom: 60px;
}

.home-section-one .btn
{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: #000080;
}

.home-section-one .btn:hover
{
    color: #000080;
    background-color: #50C878;
}

.home-section-two
{
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/images/blue-bg.png');
    gap: 120px;
}

.home-section-two h1
{
    color: #50C878;
    font-size: 3rem;
    font-weight: bolder;
}

.home-section-two .section-two-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.home-section-two .section-two-content .card
{
    width: 370px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: #F5F5F5;
    box-shadow: rgba(80, 200, 120, 0.1) 0px 10px 50px;
}

.home-section-two .section-two-content .card h2
{
    color: #000080;
    font-size: 2.5rem;
    font-weight: bold;
}

.home-section-two a:hover .card
{
    background-color: #50C878;
    box-shadow: rgba(0, 255, 255, 0.641) 0px 10px 50px;
}

.home-section-two a:hover .card h2
{
    color: #F5F5F5;
}

.home-section-three
{
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.home-section-three h1
{
    color: #000080;
    font-size: 3rem;
    font-weight: bolder;
}

.home-section-three .section-three-content
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.home-section-three .section-three-content .card
{
    position: relative;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #F5F5F5;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.home-section-three .section-three-content .card:hover
{
    height: 400px;
}

.home-section-three .section-three-content .card h2
{
    color: #F5F5F5;
    box-shadow: rgba(0, 0, 128, 0.547) 0px 10px 50px;
}


/* -- Making Responsive navbar -- */
/* -- @media 768 phone screen size -- */
@media (max-width: 768px)
{
    header .logo 
    {
        display: none;
    }
    header .navbar
    {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    .nav-links
    {
        border-radius: 10px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        background-color: #50C878;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
        padding: 10px 0;
        
    }
    .nav-links li 
    {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-links a
    {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nav-links a:hover
    {
        color: #00FFFF;
        background-color: #000080;
    }

    .menu-toggle
    {
        display: block;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1;
        color: #000080;
    }

    .nav-links li
    {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active
    {
        display: flex;
    }

}