/* -- Design Tech In Saudi Page -- */

.tech-page
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tech-page .tech-page-header
{
    width: 100%;
    height: 90vh;
    display: flex;
    margin-top: 80px;
    align-items:center;
    justify-content: right;
    background-repeat: no-repeat;
    background-image: url('/static/images/bg-content.png');
}

.tech-page .title
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.tech-page .title h1
{
    font-size: 3rem;
    color: #000080;
    text-align: center;
    font-weight: bolder;
}

.tech-page .tech-page-header p
{
    width: 590px;
    height: 250px;
    padding: 30px;
    color: #000080;
    font-size: xx-large;
    margin-top: 15px;
    margin-right: 100px;
}

.tech-page .tech-page-content
{
    gap: 50px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    
}

.tech-page .tech-page-content .card
{
    gap: 25px;
    height: 200px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    color: #F5F5F5;
    background-color: #008080;
    transition: 0.5s;
}

.tech-page .tech-page-content .card:hover
{
    height: 250px;
    color: #00FFFF;
    box-shadow: rgba(0, 255, 255, 0.35) 0px 5px 15px;
}
/*
.tech-page .tech-page-content .card:hover span
{
    color: rgb(0, 255, 255);
}
*/
.tech-page .tech-page-content .card h2
{
    font-size: larger;
}

.tech-page .tech-page-content .card p
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    text-align: center;
}