{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Noto+Kufi+Arabic:wght@100..900&family=Phudu:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/culture-style.css'%}">
    <link rel="stylesheet" href="{% static 'css/tech-in-saudi-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/impact-style.css' %}">
    <link rel="stylesheet" href="{%  static 'css/future-style.css'%}">
    <link rel="shortcut icon" href="{% static 'images/logo-light.png' %}" type="image/x-icon">
    <title> {% block title %} {% endblock %} </title>
    {% block styleDesign %} {% endblock %}
</head>

<body dir="rtl">
    <!--
        1- Header ( responsive navbar )
        2- Main background ( Light mood / Dark mood )
        3- Footer ( copyright / contact info / short links for other pages )
    -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo-light-white.png' %}" alt="">
            </a>
        </div>
        <nav class="navbar">
            <ul type="none" class="nav-links" id="navLinks">
                <li>
                    <a href="{% url 'main:home_view' %}">
                         الرئيسية
                    </a>
                </li>
                <li>
                    <a href="#impact">
                        تأثير التقنية
                    </a>
                </li>
                <li>
                    <a href="#tech">
                        المجالات التقنية
                    </a>
                    
                </li>
                <li>
                    <a href="{% url 'main:initiatives_view' %}">
                        المبادرات التقنية
                    </a>
                    
                </li>
                <li>
                    <a href="{% url 'main:innovation_view' %}">
                        التقنية و الإبتكار
                    </a>
                    
                </li>
                <li>
                    <a href="{% url 'main:future_view' %}">
                        مستقبل التقنية
                    </a>
                    
                </li>
            </ul>
             <button class="menu-toggle" id="menuToggle" aria-label="Toggle navigation">
                &#9776;
            </button>           
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>
            حقوق الطبع و النشر محفوظة لشركة بورا للتقنية و التطوير &copy; 2025
        </p>
        
    </footer>

    <script src="{% static 'javascript/actions.js' %}"></script>
</body>
</html>