{% extends 'main/base.html' %}

<!-- Page Content -->
{% block content %} 

<section class="header">
    <video autoplay muted loop id="culture-video">
        <source src="/static/videos/light-moving-bg.mp4" type="video/mp4" >
         المتصفح لا يدعم تشغيل هذا النوع من الفيديوهات
    </video>
    <div class="content">
        <h1>
            التطور الثقافي و الترفيهي
        </h1>
    </div>
</section>
<section class="short-content">
    <h2>
        شهد القطاع الترفيهي الثقافي في السعودية تطوراً تقنياً كبيراً من خلال مشاريع عملاقة مثل القدية، والاستثمارات في صناعة الأفلام، وتطوير البنية التحتية الرقمية مثل شبكات الجيل الخامس، بالإضافة إلى استخدام الذكاء الاصطناعي في الترفيه والتعليم الثقافي. يعكس هذا التطور سعي المملكة لتحقيق رؤية 2030، وتحويل المملكة إلى مركز عالمي للترفيه والتقنية، وتعزيز جودة الحياة. 
    </h2>
</section>
<section class="content" >

</section>

{% endblock %}