{% extends 'main/base.html' %}

<!-- Page Title -->
{% block title %} تنمية رقمية \ التقنية في السعودية {% endblock %}

<!-- Page Style -->
 {% block styleDesign %} 


 {% endblock %}

<!-- Page Content -->
{% block content %} 
   <section class="home-header">
      <h1>
         التقنية في عالمنا
      </h1>
   </section>
   <section class="home-section-one">

      <div class="intro-title">
         <p>
            التقنية هي أكثر من مجرد أجهزة و هواتف ذكية! <br>
            إنها المحرك الأساسي الذي يعيد تشكيل عالمنا اليوم. هي تطبيق المعرفة العلمية لحل المشكلات العملية بدءًا من التواصل الفوري 
            عبر القارات، وصولًا إلى تحليل كميات هائلة من البيانات لاتخاذ قرارات أفضل. <br>
            في القرن الحادي و العشرين لم تعد التقنية خيارًا، بل هي الأساس الذي يبنى عليه الإقتصاد، يُطور به التعليم، و تصان به الموارد. <br>
            إنها الجسر الذي نعبر به نحو مستقبل أكثر كفاءة .. ابتكارًا .. و استدامة.
         </p>
      </div>   
      <a href="{% url 'main:techInSaudi_view' %}" class="btn"> التقنية في السعودية </a>
   </section>
   <section class="home-section-two">
      <h1>
         تأثير التقنية على محاور التنمية
      </h1>
      <div class="section-two-content">
         <a href="{% url 'main:impact_view' %}" style="text-decoration: none;">
            <div class="card">
               <h2>
                  التطور الإقتصادي
               </h2>
            </div>            
         </a>
         <a href="" style="text-decoration: none;">
            <div class="card">
               <h2>
                  التطور الثقافي و الترفيهي
               </h2>
            </div>            
         </a>
         <a href="" style="text-decoration: none;">
            <div class="card">
               <h2>
                  التطور التعليمي
               </h2>
            </div>            
         </a>

      </div>
   </section>

   <section class="home-section-three">
      <h1>
         مجالات تطور التقنية في المملكة
      </h1>
      <div class="section-three-content">
         <div class="card" style="--clr:#009688">
            <div class="img-box">
               <img src="" alt="">
            </div>
            <div class="card-content">
               <h2>
                  الذكاء الاصطناعي و علوم البيانات
               </h2>
               <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat veritatis ea ratione ipsa labore consectetur velit ipsam ab cum possimus iste fugiat sed cumque quia, temporibus minus. Voluptatibus, ab perferendis?
               </p>
            </div>

         </div>
         <div class="card">
            <div class="img-box">
               <img src="" alt="">
            </div>
            <div class="card-content">
               <h2>
                  الأمن السيبراني
               </h2>    
               <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat veritatis ea ratione ipsa labore consectetur velit ipsam ab cum possimus iste fugiat sed cumque quia, temporibus minus. Voluptatibus, ab perferendis?
               </p>           
            </div>

         </div>
         <div class="card">
            <div class="img-box">
               <img src="" alt="">
            </div>
            <div class="card-content">
               <h2>
                  التقنية المالية
               </h2>  
               <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat veritatis ea ratione ipsa labore consectetur velit ipsam ab cum possimus iste fugiat sed cumque quia, temporibus minus. Voluptatibus, ab perferendis?
               </p>             
            </div>

         </div>
         <div class="card">
            <div class="img-box">
               <img src="" alt="">
            </div>
            <div class="card-content">
               <h2>
                  المدن الذكية
               </h2>         
               <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat veritatis ea ratione ipsa labore consectetur velit ipsam ab cum possimus iste fugiat sed cumque quia, temporibus minus. Voluptatibus, ab perferendis?
               </p>      
            </div>

         </div>
      </div>

   </section>
{% endblock %}