{% extends 'main/base.html' %}


<!-- Page Title -->
{% block title %} تنمية رقمية \ التقنية في السعودية {% endblock %}

<!-- Page Style -->
 {% block styleDesign %} 


 {% endblock %}

<!-- Page Content -->
{% block content %} 
   <section class="home-header">
      <h1>
         التقنية في عالمنا
      </h1>
   </section>
   <section class="home-section-one">

      <div class="intro-title">
         <p>
            التقنية هي أكثر من مجرد أجهزة و هواتف ذكية! <br>
            إنها المحرك الأساسي الذي يعيد تشكيل عالمنا اليوم. هي تطبيق المعرفة العلمية لحل المشكلات العملية بدءًا من التواصل الفوري 
            عبر القارات، وصولًا إلى تحليل كميات هائلة من البيانات لاتخاذ قرارات أفضل. <br>
            في القرن الحادي و العشرين لم تعد التقنية خيارًا، بل هي الأساس الذي يبنى عليه الإقتصاد، يُطور به التعليم، و تصان به الموارد. <br>
            إنها الجسر الذي نعبر به نحو مستقبل أكثر كفاءة .. ابتكارًا .. و استدامة.
         </p>
      </div>   
      <a href="{% url 'main:techInSaudi_view' %}" class="btn"> التقنية في السعودية </a>
   </section>
   <section class="home-section-two">
      <h1>
         تأثير التقنية على محاور التنمية
      </h1>
      <div class="section-two-content">
         <a href="{% url 'main:economeyimpact_view' %}" style="text-decoration: none;">
            <div class="card">
               <h2>
                  التطور الإقتصادي
               </h2>
            </div>            
         </a>
         <a href="{% url 'main:cultureImpact_view' %}" style="text-decoration: none;">
            <div class="card">
               <h2>
                  التطور الثقافي و الترفيهي
               </h2>
            </div>            
         </a>
         <a href="" style="text-decoration: none;">
            <div class="card">
               <h2>
                  التطور التعليمي
               </h2>
            </div>            
         </a>

      </div>
   </section>
   <div class="section-title">
      <h1>
         مجالات تطور التقنية في المملكة
      </h1>      
   </div>
   <section class="home-section-three">
      <div class="section-three-content">
         <div class="card" style="--clr:#000080">
            <div class="img-box">
               <img src="/static/images/leap-logo.jpg"  alt="logo">
            </div>
            <div class="card-content">
               <h2>
                  الذكاء الاصطناعي و علوم البيانات
               </h2>
               <p>
                  يعدّ الذكاء الاصطناعي والبيانات الضخمة ركيزة أساسية لتحقيق أهداف رؤية 2030 ، و تعد الهيئة السعودية للبيانات والذكاء الاصطناعي (SDAIA) الجهة الرئيسية لتنفيذ الاستراتيجية الوطنية للبيانات والذكاء الاصطناعي (NDAI)، بهدف تحقيق الريادة العالمية في هذا المجال
               </p>
               <a href=""> للمعرفة أكثر </a> 
            </div>

         </div>
         <div class="card" style="--clr:#50C878">
            <div class="img-box">
               <img src="/static/images/blackhat-logo.jpg" alt="logo">
            </div>
            <div class="card-content">
               <h2>
                  الأمن السيبراني
               </h2>    
               <p>
                  تولي المملكة أهمية قصوى للأمن السيبراني لحماية بنيتها التحتية الرقمية ومشاريعها العملاقة (نيوم، البحر الأحمر)، وحققت إنجازات دولية بارزة في هذا المجال بفضل جهود الهيئة الوطنية للأمن السيبراني (NCA)
               </p> 
               <a href=""> للمعرفة أكثر </a>          
            </div>

         </div>
         <div class="card" style="--clr:#5dade2">
            <div class="img-box">
               <img src="/static/images/fintech-logo.png" alt="">
            </div>
            <div class="card-content">
               <h2>
                  التقنية المالية
               </h2>  
               <p>
                  يشكل قطاع التقنية المالية حجر الزاوية في برنامج تطوير القطاع المالي (FSDP) ضمن رؤية 2030، ويهدف إلى تحويل المملكة إلى مركز عالمي للابتكار المالي
               </p>       
               <a href=""> للمعرفة أكثر </a>       
            </div>

         </div>
         <div class="card" style="--clr:#008080">
            <div class="img-box">
               <img src="/static/images/smartcity-logo.jpg" alt="">
            </div>
            <div class="card-content">
               <h2>
                  المدن الذكية
               </h2>         
               <p>
                  تتصدر المملكة جهود تطوير المدن الذكية عالميًا، حيث تستخدم التقنيات المتقدمة لتحسين جودة الحياة، وتعزيز الاستدامة، وتقديم خدمات حضرية متقدمة، وذلك عبر مشاريع عملاقة ومبادرات في المدن القائمة
               </p>      
               <a href=""> للمعرفة أكثر </a> 
            </div>

         </div>
      </div>

   </section>
{% endblock %}