{% extends 'main/base.html' %}

<!-- Page Title -->
{% block title %} تنمية رقمية \ التقنية في السعودية {% endblock %}

<!-- Page Style -->
 {% block styleDesign %} 
 <style>
    main
    {
      /*
        background-image: url('/static/images/kafd-it-dark.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        */
    }

 </style>

 {% endblock %}

<!-- Page Content -->
{% block content %} 
   <section class="home-section-one">
      <h1>
         التقنية في عالمنا
      </h1>
      <div class="intro-title">
         <h2>
            ما هي التقنية ؟!!
         </h2>
         <p>
            التقنية هي أكثر من مجرد أجهزة و هواتف ذكية! <br>
            إنها المحرك الأساسي الذي يعيد تشكيل عالمنا اليوم. هي تطبيق المعرفة العلمية لحل المشكلات العملية بدءًا من التواصل الفوري 
            عبر القارات، وصولًا إلى تحليل كميات هائلة من البيانات لاتخاذ قرارات أفضل. <br>
            في القرن الحادي و العشرين لم تعد التقنية خيارًا، بل هي الأساس الذي يبنى عليه الإقتصاد، يُطور به التعليم، و تصان به الموارد. <br>
            إنها الجسر الذي نعبر به نحو مستقبل أكثر كفاءة .. ابتكارًا .. و استدامة.
         </p>
      </div>   
      <a href="{% url 'main:techInSaudi_view' %}" class="btn"> التقنية في السعودية </a>
   </section>

   <section class="home-section-two">
      <h1>
         تأثير التقنية على محاور التنمية
      </h1>
      <div class="section-two-content">
         <div class="card">
            <h2>
               التطور الإقتصادي
            </h2>
         </div>
         <div class="card">
            <h2>
               التطور الثقافي و الترفيهي
            </h2>
         </div>
         <div class="card">
            <h2>
               التطور التعليمي
            </h2>
         </div>
      </div>
      <a href="" class="btn"> المزيد </a>
   </section>

   <section class="home-section-three">
      <h1>
         مجالات تطور التقنية في المملكة
      </h1>
      <div class="section-three-content">
         <div class="card">
            <h2>
               الذكاء الاصطناعي و علوم البيانات
            </h2>
         </div>
         <div class="card">
            <h2>
               الأمن السيبراني
            </h2>
         </div>
         <div class="card">
            <h2>
               التقنية المالية
            </h2>
         </div>
         <div class="card">
            <h2>
               المدن الذكية
            </h2>
         </div>
      </div>

   </section>
{% endblock %}