{% extends 'main/base.html' %}

{% block title %} التأثير التقني على محاور التنمية {% endblock %}


{% block content %}

<section class="economey-impact">
    <div class="header">
        <video autoplay muted loop id="eco-video">
            <source src="/static/images/econemy-rate.mp4" type="video/mp4" >
            المتصفح لا يدعم تشغيل هذا النوع من الفيديوهات
        </video>
        <h1>
            التطور الإقتصادي التقني
        </h1>
    </div>
    <div class="short-content">
        <h2>
            قادت التقنية ثورة في الإقتصاد السعودي حيث أن التجارة الإلكترونية شهدت نموًا هائلًا ، 
            و خدمات التقنية المالية غيرت طريقة تعاملنا مع المال مع انتشار حلول الدفع 
            الرقمي مثل "STC Pay" و "Apple Pay" و "Samsung Pay".
            <br><br>
            كما ساهمت الرقمنة في جعل الخدمات الحكومية مثل  ( منصة أبشر، و ناجز ) أكثر كفاءة و شفافية 
            مما عزز بيئة الاستثمار و جذب رؤوس الأموال الأجنبية إلى قطاعات جديدة و واعدة.
        </h2>
    </div>
    <div class="fin-tech">
        <div class="fin-tech-content">
            <div class="card">
                <div class="img-box">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <h2>
                        الشركات التقنية المالية
                    </h2>
                    <p>
                        <ul type = "none">
                            <li>
                                بلغ عدد شركات التقنية المالية 261 شركة فاعلة متجاوزًا العدد المستهدف 230 شركة
                            </li>
                            <li>
                                الهدف الاستراتيجي هو الوصول إلى 525 شركة بحلول عام 2030
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img-box">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <h2>
                        المدفوعات الإلكترونية
                    </h2>
                    <p>
                        <ul>
                            <li>
                                ارتفعت حصة المدفوعات الإلكترونية - غير النقدية - للأفراد إلى 79% من إجمالي العمليات بنهاية 2024
                            </li>
                            <li>
                                هذا الإنجاز تجاوز مستهدف برنامج تطوير القطاع المالي لعام 2025 مبكرًا
                            </li>
                        </ul>
                    </p>
            </div>
            <div class="card">
                <div class="img-box">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <h2>
                        الإستثمار الجريء
                    </h2>
                    <p>
                        إجمالي الاستثمار الجريء في قطاع التفنية المالية بلغ 7.6 مليار ريال
                    </p>
                    <a href=""></a>
            </div>
            <div class="card">
                <div class="img-box">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <h2>
                        الأهداف الاستراتيجية لعام 2030
                    </h2>
                    <p>
                        <ul type="none">
                            <li>
                                المساهمة بـ 13.3 مليار ريال في الناتج المحلي الإجمالي
                            </li>
                            <li>
                                توفير 18 ألف فرصة وظيفية
                            </li>
                            <li>
                                رفع حجم الاستثمار في القطاع 2.12 مليار ريال
                            </li>
                        </ul>
                    </p>
                </div>
        </div>        
    </div>

</section>

{% endblock %}