{% extends 'main/base.html' %}

<!-- البحث عن موضوع لإضافته -->
{% block title %} {% endblock %}

{% block content %}

<section class="tech-page">
    <div class="tech-page-header">
        <p>
            تُعدّ المملكة العربية السعودية من أسرع الدول نموًا في القطاع الرقمي على مستوى الشرق الأوسط والعالم، مدفوعةً بالاستراتيجية الطموحة لرؤية السعودية 2030 وبرنامج التحول الوطني. وتشهد المملكة تحولاً رقمياً شاملاً في القطاعين الحكومي والخاص، مع تركيز كبير على التقنيات الناشئة والذكاء الاصطناعي
        </p>
    </div>
    <div class="tech-page-content">
        <div class="card">
            <span class="material-symbols-outlined">
                finance_mode
            </span>
            <h2>
                حجم السوق
            </h2>
            <p>
                تجاوز حجم سوق الاتصالات وتقنية المعلومات المحلي 180 مليار ريال سعودي لعام 2024، ليصبح السوق الأسرع نموًا في الشرق الأوسط.
            </p>
        </div>
        <div class="card">
            <h2>
                الإنفاق الحكومي
            </h2>
            <p>
                تجاوز الإنفاق التراكمي للحكومة على خدمات الاتصالات والتقنية 113 مليار ريال في ثلاث سنوات، مما يعكس الأولوية الكبيرة للتحول الرقمي.
            </p>
        </div>
        <div class="card">
            <h2>
                القيمة السوقية
            </h2>
            <p>
                تُقدر القيمة السوقية لشركات الاتصالات والتقنية المدرجة في المملكة بنحو 427 مليار ريال سعودي.
            </p>
        </div>
        <div class="card">
            <h2>
                نمو القطاع
            </h2>
            <p>
                حقق قطاع الاتصالات وتقنية المعلومات نموًا نوعيًا بنسبة 7% مقارنة بالنمو العالمي الذي تراوح حول 4% في عام 2023.
            </p>
        </div>
        <div class="card">
            <h2>
                تمكين المرأة
            </h2>
            <p>
                وصلت نسبة تمكين المرأة في القطاع التقني إلى 34.18% في عام 2023، متجاوزة متوسط الاتحاد الأوروبي ومجموعة العشرين ووادي السيليكون في هذا الجانب.
            </p>
        </div>
    </div>
</section>

{% endblock %}